@using CarsRentMVC.Infrastructure
@model CarsRentMVC.Models.ViewModels.OptionListViewModel

@{
    ViewBag.Title = "Option Index";
}

<div class="well well-sm"><h1>Список дополнительного оборудования</h1></div>

@using (Html.BeginForm()) {
    <input class="form-control myFindInput" type="text" name="filter" placeholder="Поиск..." />
    <span>
        <button class="btn btn-primary" type="submit">Найти</button>
    </span>
    <br />
    <br />
    <p>
        <a href="@Url.Action("Create")" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp;Добавить оборудование
        </a>
    </p>
    <br/>
    <table class="table table-responsive table-hover table-bordered table-striped">
        <tr>
            <th>
                ID
            </th>
            <th>
                Наименование Опции
            </th>
            <th>
                Инвентарный<br /> номер
            </th>
            <th>
                Полная<br />стоимость
            </th>
            <th>
                Аренда/сут.
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Options) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InvNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullCost)<span> $</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RentDayCost)<span> $</span>
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id = item.OptionId})">
                        <span class="glyphicon glyphicon-edit"></span>&nbsp;Редактировать
                    </a>
                    &nbsp;|&nbsp;
                    <a href="@Url.Action("Details", new {id = item.OptionId})">
                        <span class="glyphicon glyphicon-list-alt"></span>&nbsp;Подробно
                    </a>
                    &nbsp;|&nbsp;
                    <a href="@Url.Action("Delete", new {id = item.OptionId})">
                        <span class="glyphicon glyphicon-trash"></span>&nbsp;Удалить
                    </a>
                </td>
            </tr>
        }
    </table>
    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("Index", new { page = x }))
    </div>
}

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () { $("#successmessage").hide('slow'); }, 2000);
        });

    </script>
}