@model CarsRentEF.Models.Rent

@{
    ViewBag.Title = "Rent Details";
}

<div class="well well-sm"><h1>Данные договора аренды</h1></div>

<table class="table table-responsive table-hover table-bordered table-striped">

    <tr>
        <th>Данные клиента</th>
        <th>Данные арендованного автомобиля</th>
        <th>Данные договора аренды</th>
    </tr>
    <tr>
        <td>
            <dl>
                <dt>
                    ID:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.КлиентID)
                </dd>
                <dt>
                    ФИО:
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.ФИО)
                </dd>

                <dt>Адрес:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.Адрес);
                </dd>
                <dt>Телефон:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.Телефон)
                </dd>
                <dt>№ Паспорта:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.НомерПаспорта)
                </dd>
                <dt>№ Водительского уд.:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Client.НомерВодУд)
                </dd>
                <dt>Черный список</dt>

                @if (Model.Client.ЧерныйСписок.ToLower() == "да") {
                    <dd style="color: red; font-weight: bold">@Html.DisplayFor(modelItem => Model.Client.ЧерныйСписок)</dd>
                } else {
                    <dd style="color: green">@Html.DisplayFor(modelItem => Model.Client.ЧерныйСписок)</dd>
                }

                <dt>Фото:</dt>
                @if (Model.Client.Image == null) {
                    <p></p>
                } else {
                    <img width="100" src="@Url.Action("GetImage", "Client", new {Model.КлиентID})" class="img-thumbnail" />
                }
            </dl>
        </td>
        <td>
            <dl>
                <dt>ID:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.АвтоID)
                </dd>
                <dt>Марка, модель:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.Марка),
                    @Html.DisplayFor(model => model.Car.Модель)
                </dd>
                <dt>Тип кузова, Цвет:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.ТипКузова),
                    @Html.DisplayFor(model => model.Car.Цвет)

                </dd>
                <dt>Двигатель:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.ТипДвигателя),
                    @Html.DisplayFor(model => model.Car.ОбъемДвигателя) л. ,
                    @Html.DisplayFor(model => model.Car.Мощность) л.с.
                </dd>
                <dt>Год выпуска:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.ГодВыпуска) г.
                </dd>
                <dt>Госномер:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.Госномер)
                </dd>
                <dt>VIN номер:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.VIN)
                </dd>
                <dt>Полная стоимость:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.Стоимость) $
                </dd>
                <dt>Стоимость аренды в сут.:</dt>
                <dd>
                    @Html.DisplayFor(model => model.Car.СтоимостПрокатаВСут) $
                </dd>
            </dl>
        </td>
        <td>
            <dl>
                <dt>ID:</dt>
                <dd>
                    @Html.DisplayFor(model => model.АрендаID)
                </dd>
                <dt>Дата выдачи:</dt>
                <dd>
                    @Html.DisplayFor(model => model.ДатаВыдачи)
                </dd>
                <dt>Дата возврата:</dt>
                <dd>
                    @Html.DisplayFor(model => model.ДатаВозврата)
                </dd>
                <dt>Стоимость доп. оборудования в сут.</dt>
                <dd>
                    @Model.ДопОборудование<br />
                </dd>
                <dt>
                    Скидки:
                </dt>

                <dd>
                    @Model.Скидки<br />
                </dd>

                <dt>
                    Штрафы:
                </dt>

                <dd style="color: red">
                    @Model.Штрафы<br />
                </dd>

                <dt>
                    Итоговая стоимость:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ИтоговаяСумма)<span> $</span>
                </dd>

                <dt>
                    Статус:
                </dt>
                @if (Model.Состояние.ToLower() == "закрыт") {
                    <dd style="color: green">@Html.DisplayFor(model => Model.Состояние)</dd>
                } else if (Model.Состояние.ToLower() == "просрочен") {
                    <dd style="color: red; font-weight: bold">@Html.DisplayFor(model => Model.Состояние)</dd>
                } else {
                    <dd style="color: black">@Html.DisplayFor(model => Model.Состояние)</dd>
                }
            </dl>
        </td>
    </tr>
</table>

<div><b>Фото авто:</b></div>
@if (Model.Car.Image == null) {
    <p></p>
} else {
    <img width="550" src="@Url.Action("GetImage", "Car", new {Model.АвтоID})" class="img-thumbnail" />
}
<br /><br />
<p>
    <a href="@Url.Action("Edit", new {id = Model.АрендаID})" class="btn btn-warning">
        <span class="glyphicon glyphicon-edit"></span>&nbsp;Редактировать
    </a>
    &nbsp;&nbsp;
    <a href="@Url.Action("Delete", new {id = Model.АрендаID})" class="btn btn-danger">
        <span class="glyphicon glyphicon-trash"></span>&nbsp;Удалить
    </a>
    &nbsp;&nbsp;
    <a href="@Url.Action("Index", new {id = Model.АрендаID})" class="btn btn-default">
        <span class="glyphicon glyphicon-list"></span>&nbsp;К списку
    </a>
</p>

@section Scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            setTimeout(function () { $("#successmessage").hide('slow'); }, 2000);
        });

    </script>
}