@model System.Collections.Generic.List<CarsRentMVC.Models.MenuItem>

@{
    foreach (var i in Model) {
        if (i.Name == "Автомобили" || i.Name == "Штрафы" || i.Name == "Скидки" || i.Name == "Опции" || i.Name == "Администратор") {
            if (i.Name == "Администратор") {
                <li class="@i.Active myMenuLi">
                    @*<a href="@Url.Action("index", "admin")">*@
                    <a href="@Url.Action("Index", "Home")">
                        <img width="23" height="20" src="~/Content/Images/home.png" alt="" />
                    </a>
                </li>
            } else {
                <li class="@i.Active myMenuLi">@Html.ActionLink(i.Name, i.Action, i.Controller)</li>
            }
        } else {
            continue;
        }
    }
}
