@model CarsRentEF.Models.Penalty

@{
    ViewBag.Title = "Penalty Edit";
}

<div class="well well-sm"><h1>Редактировать данные штрафа</h1></div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ШтрафID)
        @Html.HiddenFor(model => model.Timestamp)

        <div class="form-group">
            @Html.LabelFor(model => model.НаименованиеШтрафа, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.НаименованиеШтрафа, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.НаименованиеШтрафа, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.СуммаШтрафа, "Сумма Штрафа ($)", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.СуммаШтрафа, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.СуммаШтрафа, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;Сохранить
                </button>
                &nbsp;&nbsp;
                <a href="@Url.Action("Index")" class="btn btn-default">
                    <span class="glyphicon glyphicon-list"></span>&nbsp;К списку
                </a>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
